# Practice 01 - Initial Data Analysis of German Credit Score Dataset

This file contains answers for Practice 01 of Home Credit Indonesia Data Science Bootcamp 2019 in IYKRA

Author: Nirta Ika Yunita
<br> Date: 2019, October 24

## German Credit Score Case

In [1]:
# Import packages
import numpy as np
import pandas as pd

In [2]:
# Define class
class color:
   BLUE = '\033[94m'
   END = '\033[0m'

In [3]:
# Import data
data = pd.read_csv("german_credit_data_with_risk.csv", encoding = "latin1")

In [4]:
# Display data and the properties
print(data.shape)
data.head()

(1000, 11)

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,2,49,male,1,own,little,NaN,2096,12,education,good
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,4,53,male,2,free,little,little,4870,24,car,bad

In [5]:
# Data types
data.dtypes

Unnamed: 0           int64
Age                  int64
Sex                 object
Job                  int64
Housing             object
Saving accounts     object
Checking account    object
Credit amount        int64
Duration             int64
Purpose             object
Risk                object
dtype: object

In [6]:
# Data information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
Unnamed: 0          1000 non-null int64
Age                 1000 non-null int64
Sex                 1000 non-null object
Job                 1000 non-null int64
Housing             1000 non-null object
Saving accounts     817 non-null object
Checking account    606 non-null object
Credit amount       1000 non-null int64
Duration            1000 non-null int64
Purpose             1000 non-null object
Risk                1000 non-null object
dtypes: int64(5), object(6)
memory usage: 86.0+ KB

In [8]:
# Set column index
data = data.set_index("Unnamed: 0")

print(data.shape)
data.head()

(1000, 10)

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
Unnamed: 0,,,,,,,,,,
0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,49,male,1,own,little,NaN,2096,12,education,good
3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,53,male,2,free,little,little,4870,24,car,bad

### Part A

On your Jupyter notebook, answer the following questions!

1\. How many rows and columns reflected in the dataset?

In [7]:
row = data.shape[0]
column = data.shape[1]

print("Number of rows reflected on dataset are " + color.BLUE + str(row) + color.END + ".") 
print("\nNumber of columns reflected on dataset are " + color.BLUE + str(column) + color.END + ".")

Number of rows reflected on dataset are 1000.

Number of columns reflected on dataset are 11.

2\. What is the minimum, maximum, and mean of the customer's age?

In [9]:
min_age = data["Age"].min()
max_age = data["Age"].max()
mean_age = data["Age"].mean()

print("The minimum of customer's age is " + color.BLUE + str(min_age) + color.END + ".")
print("\nThe maximum of customer's age is " + color.BLUE + str(max_age) + color.END + ".")
print("\nThe mean of customer's age is " + color.BLUE + str(mean_age) + color.END + ".")

The minimum of customer's age is 19.

The maximum of customer's age is 75.

The mean of customer's age is 35.546.

3\. How many are male and how many are female? Why?

In [10]:
male = data[data.Sex == 'male']
female = data[data.Sex == 'female']

print("There are " + color.BLUE + str(male.shape[0]) + color.END + " male customers and " + color.BLUE + str(female.shape[0]) + color.END + " female customers.")
print("\nBased on demographic statistics of Germany in 1995, there were 94.13 males per 100 females.\nSo, the reason why there are more males than females customers is not based on the population that time.\nOne of possibe reason is the female customer might be using their husband id card to apply credit in bank.")

There are 690 male customers and 310 female customers.

Based on demographic statistics of Germany in 1995, there were 94.13 males per 100 females.
So, the reason why there are more males than females customers is not based on the population that time.
One of possibe reason is the female customer might be using their husband id card to apply credit in bank.

4\. How many high skilled workers customers reflected in the dataset?

In [11]:
job = data[data.Job == 3]

print("There are " + color.BLUE + str(job.shape[0]) + color.END + " high skilled workers customers reflected in the dataset.")

There are 148 high skilled workers customers reflected in the dataset.

5\. How many customers who own the house?

In [12]:
own = data[data.Housing == 'own']

print("There are " + color.BLUE + str(own.shape[0]) + color.END + " customers who own the house.")

There are 713 customers who own the house.

6\. How many customers who have 'rich' Saving accounts?

In [13]:
rich_save = data[data["Saving accounts"] == 'rich']

print("There are " + color.BLUE + str(rich_save.shape[0]) + color.END + " customer who have 'rich' saving accounts.")

There are 48 customer who have 'rich' saving accounts.

7\. How many customers who do not have checking accounts or have zero checking account?

In [14]:
zero_check = data["Checking account"].isnull().sum()

print("There are " + color.BLUE + str(zero_check) + color.END + " customers who do not have checking accounts or have zero checking account.")

There are 394 customers who do not have checking accounts or have zero checking account.

8\. Who is the one who have highest credit amount? Show us the profile of the age, sex, job, housing, saving
account, and checking account!

In [15]:
highest_credit = data.sort_values(by =["Credit amount"], ascending = False).head(1)
age_hc = highest_credit.iloc[0][0]
sex_hc = highest_credit.iloc[0][1]
job_hc = highest_credit.iloc[0][2]
housing_hc = highest_credit.iloc[0][3]
saving_hc = highest_credit.iloc[0][4]
checking_hc = highest_credit.iloc[0][5]
amount_hc = highest_credit.iloc[0][6]

print("The profile of customer who has the highest credit amount (" + color.BLUE + str(amount_hc) + color.END + " Deutsch Mark) is shown below.")
print("Age : " + color.BLUE + str(age_hc) + color.END)
print("Sex : " + color.BLUE + str(sex_hc) + color.END)
print("Job : " + color.BLUE + str(job_hc) + color.END)
print("Housing : " + color.BLUE + str(housing_hc) + color.END)
print("Saving account : " + color.BLUE + str(saving_hc) + color.END)
print("Checking account : " + color.BLUE + str(checking_hc) + color.END)

The profile of customer who has the highest credit amount (18424 Deutsch Mark) is shown below.
Age : 32
Sex : female
Job : 3
Housing : own
Saving account : little
Checking account : moderate

9\. How many customers are classified as good risk and bad risk?

In [17]:
good = data[data.Risk == 'good']
bad = data[data.Risk == 'bad']

print("There are " + color.BLUE + str(good.shape[0]) + color.END + " customers that classified as good risk and " + color.BLUE + str(bad.shape[0]) + color.END + " customers that classified as bad ones.")

There are 700 customers that classified as good risk and 300 customers that classified as bad ones.

10\. Is the average of credit amount for good risk is higher than bad risk?

In [21]:
mean_credit_good = round(good["Credit amount"].mean(), 3)
mean_credit_bad = round(bad["Credit amount"].mean(), 3)

print("The average of credit amount for good risk is " + color.BLUE + str(mean_credit_good) + color.END + " Deutsch Mark.")
print("The average of credit amount for bad risk is " + color.BLUE + str(mean_credit_bad) + color.END + " Deutsch Mark.\n")

if mean_credit_good > mean_credit_bad:
    print("Yes, the average of credit amount for good risk is higher than bad risk.")
else:
    print("No, the average of credit amount for good risk is not higher than bad risk.")

The average of credit amount for good risk is 2985.457 Deutsch Mark.
The average of credit amount for bad risk is 3938.127 Deutsch Mark.

No, the average of credit amount for good risk is not higher than bad risk.

### Part B

Create 10 more questions and answers to understand more about the dataset.

In [22]:
data.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
Unnamed: 0,,,,,,,,,,
0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,49,male,1,own,little,NaN,2096,12,education,good
3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,53,male,2,free,little,little,4870,24,car,bad

1\. What is the mean loan duration of customers who buy furniture/equipment?

In [29]:
fur = data[data["Purpose"] == "furniture/equipment"]
fur_mean = int(fur["Duration"].mean())

print("The mean loan duration of customers who buy furniture/equipment is about " + color.BLUE + str(fur_mean) + color.END + " months.")

The mean loan duration of customers who buy furniture/equipment is about 19 months.

2\. What is the highest credit amount of unskilled workers customers reflected in dataset? What is the purpose?

In [36]:
unskilled = data[data["Job"] == 0]
unskilled = unskilled.sort_values(by =["Credit amount"], ascending = False).head(1)
credit_unskilled = unskilled.iloc[0][6]
purpose_unskilled = unskilled.iloc[0][8]

print("The highest credit amount of unskilled worker customer reflected in dataset is " + color.BLUE + str(credit_unskilled) + color.END + " Deutsch Mark. \nThe purpose of loan is for " + color.BLUE + str(purpose_unskilled) + color.END + ".")

The highest credit amount of unskilled worker customer reflected in dataset is 14555 Deutsch Mark.
The purpose of loan is for car.

3\. What is the average age of female customers who have good risk?

In [39]:
good_female = female[female.Risk == 'good']
mean_gf = round(good_female["Age"].mean(), 3)

print("The average age of female customers who have good risk is " + color.BLUE + str(mean_gf) + color.END + ".")

The average age of female customers who have good risk is 34.318.

4\. How many bad risk male customers are that own, free, and rent house?

In [45]:
bad_male = male[male.Risk == 'bad']
own_bm = bad_male[bad_male.Housing == 'own']
free_bm = bad_male[bad_male.Housing == 'free']
rent_bm = bad_male[bad_male.Housing == 'rent']

print("There are " + color.BLUE + str(own_bm.shape[0]) + color.END + " bad risk male customers that own house.")
print("There are " + color.BLUE + str(free_bm.shape[0]) + color.END + " bad risk male customers with free housing type.")
print("There are " + color.BLUE + str(rent_bm.shape[0]) + color.END + " bad risk male customers that rent house.")

There are 127 bad risk male customers that own house.
There are 33 bad risk male customers with free housing type.
There are 31 bad risk male customers that rent house.

5\. Is number of bad risk male customers that own house is higher than other housing type?

In [46]:
if own_bm.shape[0] > free_bm.shape[0] and own_bm.shape[0] > rent_bm.shape[0]:
    print("Yes, number of bad risk male customers that own house is higher than other housing type.")
else:
    print("No, number of bad risk male customers that own house is lower than other housing type.")

Yes, number of bad risk male customers that own house is higher than other housing type.

6\. What is the longest duration (tenor) of loan taken by a customer?

In [49]:
max_dur = data["Duration"].max()

print("The longest duration (tenor) of loan taken by a customer is " + color.BLUE + str(max_dur) + color.END + " month.")

The longest duration (tenor) of loan taken by a customer is 72 month.

7\. How many are customers that do not have saving account nor checking account?

In [56]:
no_save_no_check = data["Saving accounts"].isnull() & data["Checking account"] .isnull()
print("There are " + color.BLUE + str(no_save_no_check.sum()) + color.END + " customers that do not have saving account nor checking account.")

There are 99 customers that do not have saving account nor checking account.

8\. What is the highest credit amount with purpose loan to vacation/others?

In [66]:
vacay = data[data.Purpose == 'vacation/others']
high_vacay = vacay.sort_values(by = "Credit amount", ascending = False).head(1)

print("The highest credit amount with purpose loan to vacation/others is " + color.BLUE + str(high_vacay.iloc[0][6]) + color.END + " Deutsch Mark.")

The highest credit amount with purpose loan to vacation/others is 18424 Deutsch Mark.

9\. What is the average loan duration of 21 years old customer?

In [73]:
age_21 = data[data.Age == 21]
mean_dur_21 = round(age_21["Duration"].mean(), 2)

print("The average loan duration of 21 years old customers is " + color.BLUE + str(mean_dur_21) + color.END + " months.")

The average loan duration of 21 years old customers is 26.14 months.

10\. Who is the one who have lowest credit amount? Show the profile of the age, sex, job, housing, saving account, and checking account!

In [74]:
lowest_credit = data.sort_values(by =["Credit amount"]).head(1)
age_lc = lowest_credit.iloc[0][0]
sex_lc = lowest_credit.iloc[0][1]
job_lc = lowest_credit.iloc[0][2]
housing_lc = lowest_credit.iloc[0][3]
saving_lc = lowest_credit.iloc[0][4]
checking_lc = lowest_credit.iloc[0][5]
amount_lc = lowest_credit.iloc[0][6]

print("The profile of customer who has the lowest credit amount (" + color.BLUE + str(amount_lc) + color.END + " Deutsch Mark) is shown below.")
print("Age : " + color.BLUE + str(age_lc) + color.END)
print("Sex : " + color.BLUE + str(sex_lc) + color.END)
print("Job : " + color.BLUE + str(job_lc) + color.END)
print("Housing : " + color.BLUE + str(housing_lc) + color.END)
print("Saving account : " + color.BLUE + str(saving_lc) + color.END)
print("Checking account : " + color.BLUE + str(checking_lc) + color.END)

The profile of customer who has the lowest credit amount (250 Deutsch Mark) is shown below.
Age : 41
Sex : female
Job : 1
Housing : own
Saving account : rich
Checking account : nan

### Part C

Define at least 3 business problems that you can find based on the dataset!

1\. What is the correlation between gender and risk? Do women have better risk potential than male?

2\. Is the older customer will give the better risk? Why?

3\. What are attributes that impactful on risk?